<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
    <title>{{ page.title }}</title>
    <meta name="title" content="{{ page.title }}">
    {% seo title=false %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-T17QN53E7N"></script>
    <script src="/assets/js/custom.js"/>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-T17QN53E7N');
    </script>
    
  </head>
  <body>
    <div class="container">
     <!-- Glowing Orbs -->
     <div class="glow-orb glow-orb-1"></div>
     <div class="glow-orb glow-orb-2"></div>

     <!-- Navigation -->
     <nav id="navbar">
         <div class="nav-container">
             <a href="/">
               <div class="logo">
                   <div class="logo-icon">
                       <div class="logo-bg"></div>
                       <div class="logo-inner"></div>
                       <div class="logo-letter">K</div>
                   </div>
                   <span class="logo-text">CryptoKarl<span>013</span></span>
               </div>
               </a>
             <div class="nav-links">
                 <a href="/" class="nav-link">Home</a>
                 <a href="/#investigations" class="nav-link">Crypto Investigations</a>
                 <a href="/#contact" class="nav-link">Contact</a>
             </div>
         </div>
     </nav>

    <main id="content" class="main-content" role="main">
      {{ content }}
    </main>
    </div>
  </body>
</html>
